
.valor{
    color: #209869;
    font-weight: bold;
    margin-left: 17vh;
    max-width: 200px;
}
.valorLoto{
    color: #930089;
    font-weight: bold;
    margin-left: 17vh;
    max-width: 200px;
}
.valorQuina{
    color: #260085;
    font-weight: bold;
    margin-left: 17vh;
    max-width: 200px;
}