.numeros ul li {
    display: inline-block;
    color: white;
    font-size: 1.5rem;
    width: 15%;
    border-radius: 100%;
    background-color: #209869;
    margin-right: 5px;
    text-align: center;
    line-height: 2em;
    font-weight: bold;
}

.numeros ul {
    margin-left: 150px;
    margin-top: 50PX;
}
.numerosQuina ul li {
    display: inline-block;
    color: white;
    font-size: 1.5rem;
    width: 15%;
    border-radius: 100%;
    background-color: #260085;
    margin-right: 5px;
    text-align: center;
    line-height: 2em;
    font-weight: bold;
}

.numerosQuina ul {
    margin-left: 150px;
    margin-top: 50PX;
}

.numerosLoto ul li {
    display: inline-block;
    color: #930089;
    font-size: 1.5rem;
    width: 15%;
    margin-right: 10px;
    text-align: center;
    line-height: 2em;
    font-weight: bold;
    border-bottom: solid 2px #d5d9df;
}

.numerosLoto ul {
    margin-left: 130px;
    margin-top: 50PX;
}

